


<div class="fb">

  <h2>Registration</h2>

		<h5>offer a quick and easy to book tickets online</h5>
		<input  type="radio" name="Flight">Flight
			<input type="radio" name="Train">Train
				<input type="radio" name="Bus">Bus<br>	<br>

				<input id ="fb1"type="text" placeholder ="Your name"><br>
				<br>
					<input id ="fb1"type="Date" placeholder ="date"><br>
						<br>
					<div id ="fb1" >
						<select>
							<option> desitination city</option>
							<option>paris</option>
							<option>Maldives</option>
							<option>London</option>
							<option>bangkok</option>
							<option>singapore</option>
						</select>
						</div>	<br>
							
					<br>
	<input id ="fb1" type="number" placeholder ="adults"><br>
	<BR>
	<input  id ="fb1"type="number" placeholder ="children"><br>
	<BR>
	<button id ="fb1">submit</button>

